<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sse.sseapp.mapper.system.SysProjectMergeSubscriptionMapper">

    <resultMap id="baseResultMap" type="com.sse.sseapp.domain.system.SysProjectMergeSubscription" >
        <id column="ps_id" property="psId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="pass_id" property="passId" jdbcType="VARCHAR" />
        <result column="project_id" property="projectId" jdbcType="VARCHAR" />
        <result column="project_name" property="projectName" jdbcType="VARCHAR" />
        <result column="intermediary_id" property="intermediaryId" jdbcType="VARCHAR" />
        <result column="subscription_time" property="subscriptionTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getSubscribeList" resultMap="baseResultMap" >
        select *  from app_project_merge_subscription
        <where>
            <if test="subscribe.psId != null and subscribe.psId !='' ">
                and ps_id &lt; #{subscribe.psId}
            </if>
            <if test="subscribe.psId == null and subscribe.psId =='' ">
                and ps_id &lt;= (select max(ps_id) from app_project_merge_subscription)
            </if>
            <if test="subscribe.passId != null and subscribe.passId !='' ">
                and pass_id = #{subscribe.passId}
            </if>
            <if test="subscribe.projectId != null and subscribe.projectId !='' ">
                and project_id = #{subscribe.projectId}
            </if>
        </where>
        order by ps_id desc
        <if test="subscribe.pageSize != null and subscribe.pageSize != ''">
            limit 0,#{subscribe.pageSize}
        </if>
    </select>

    <insert id="subscribeProject">
        insert into app_project_merge_subscription (user_name,pass_id,project_id,project_name,intermediary_id,subscription_time)
        values (#{subscribe.userName},#{subscribe.passId},#{subscribe.projectId},#{subscribe.projectName},#{subscribe.intermediaryId},#{subscribe.subscriptionTime})
    </insert>


    <delete id="unSubscribeProject">
        delete from app_project_merge_subscription where pass_id = #{subscribe.passId} and project_id = #{subscribe.projectId}
    </delete>




</mapper>