<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sse.sseapp.mapper.app.AppOneUserUpdateMapper">

    <select id="selectByObj" parameterType="com.sse.sseapp.domain.app.AppOneUserUpdate" resultType="java.lang.Integer">
        select count(*)
        from app_one_user_update
        where user_id = #{userId} and business_type = #{businessType} and nav_id = #{navId}
    </select>

    <select id="selectUserUnreadList" resultType="com.sse.sseapp.domain.app.AppOneUserUpdate">
        select id,
               user_id,
               business_type,
               nav_id,
               create_time,
               mobile
        from app_one_user_update
        where user_id = #{userId}
    </select>

    <delete id="delByUserId" parameterType="com.sse.sseapp.domain.app.AppOneUserUpdate">
        delete from app_one_user_update where user_id = #{userId} and business_type = #{businessType} and nav_id = #{navId}
    </delete>

    <delete id="delUserChooseList" parameterType="com.sse.sseapp.domain.app.AppOneUserUpdate">
        delete from app_one_user_update where user_id = #{userId} and business_type = #{businessType}
    </delete>

</mapper>