<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sse.sseapp.mapper.push.AppPushMessageFromFunctionMapper">

    <select id="list" parameterType="com.sse.sseapp.domain.push.AppPushMessageFromFunction" resultType="com.sse.sseapp.domain.push.AppPushMessageFromFunction">
        select id,
        from_id,
        `function`,
        `describe`,
        create_time,
        update_time
        from app_push_message_from_function
        <where>
            <if test="fromId != null and fromId !=  ''">
                AND from_id = #{fromId}
            </if>
            <if test="function != null and function !=  ''">
                AND `function` = #{function}
            </if>
            <if test="describe != null and describe !=  ''">
                AND `describe` like concat('%', #{describe}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>